<div class="city-detail" *ngIf="city">
    <button class="btn btn-danger" (click)="deleteThisCity(city)">
        Delete this Cities
      </button>
      <p></p>
    <h1>{{city.name | uppercase}} Trip</h1>
    <h3>Country: {{city.country}}</h3>
    <h3>Population: {{city.population}}</h3>
    <h3>Weather: {{city.weather}}</h3>
    <h3>Temperature: {{city.temperature}}</h3>

    <p></p>
    <div>
        <label for="trip-date">What's your planned date?: </label>
        <input id="date" required [(ngModel)]="this.date" placeholder="date">
    </div>

    <div>
        <label for="trip-date">What's your planned cost?: </label>
        <input id="cost" [(ngModel)]="this.cost" placeholder="cost">
    </div>

    <p></p>

    <div class="add-trip">
        <button class="btn btn-primary" [class.selected]="city === selectedCity" type="button" (click)="onSelect(city)">
            <span class="cities">I would love to add {{city.name}} to my itinerary!</span>
        </button>
    </div>

    

 
</div>