<div *ngIf="city">
    <h2>{{city.name | uppercase}} Trip</h2>
    <h3>Country: {{city.country}}</h3>
    <h3>Population: {{city.population}}</h3>
    <h3>Weather: {{city.weather}}</h3>
    <h3>Temperature: {{city.temperature}}</h3>

    <div>
        <label for="trip-date">What's your planned date?: </label>
        <input id="date" [(ngModel)]="this.date" placeholder="date">
    </div>

    <div>
        <label for="trip-date">What's your planned cost?: </label>
        <input id="cost" [(ngModel)]="this.cost" placeholder="cost">
    </div>

    <button [class.selected]="city === selectedCity"  type="button" (click)="onSelect(city)">
        <span class="cities">I would love to add {{city.name}} to my itinerary!</span>
    </button>
</div>

