.navbar {
    border: 3px solid #73AD21;
}

.navbar a{
    font-style: italic;
    font-size: 30px;
  text-decoration: none;
}

.title {
    width: 500px;
    height: 100px;
    margin: auto;
    border: 3px solid #73AD21;
    text-align: center;
    background-color: aliceblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}